body,html{
    background-color: rgb(104, 149, 210);
    margin: 0;
    padding: 0;
    height: 100%;
    color: rgb(55, 55, 55);
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header{
    background-color: rgb(253, 231, 103);
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.logo, h1, h2{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(130, 67, 0);
}

.logo{
    font-size: 2.5em;
}

.topnav{
    display: flex;
    align-items: center;
}

.topnav a{
    background-color: rgb(243, 185, 95);
    color: rgb(130, 67, 0);
    border: 3px dotted rgb(208, 72, 72);
    border-radius: 20px;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    margin: 2px;
}

.current{
    
    background-color: rgb(208, 72, 72);
}

.topnav a:hover{
    background-color: rgb(208, 72, 72);
    color: rgb(253, 231, 103);
    border-color: rgb(243, 185, 95);
}



.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.headerimg{
    margin: auto;
}

.headerimg h1{
    color: white;
}

img{
    border: 5px dotted white;
}

.content{
    display: flex;
}

.boxes{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 20px;
}

.boxes div, .box3{
    padding: 10px;
    margin: 20px;
}

.boxes div{
    width: 80%;
}

.box1, .box2{
    border: 4px dotted yellow;
    background-color: rgb(243, 185, 95);
}
.box3{
    justify-self: center;
    align-self: center;
}

.box3 img{
    height: 300px;
}

.footer{
    position: sticky;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: rgb(253, 231, 103);
    padding: 5px;
    margin: 5px 0px 0px 0px;
}


.products{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 5% 10% 20% 30% 20%;
}

.products h1{
    color: aliceblue;
    grid-row: 1;
    grid-column: 1/4;
}

.items img{
    height: 300px;
}

.items h2{
    color: aliceblue;
}

.items p{
    color: aliceblue;
}

.more{
    grid-column: 1/4;
    grid-row: 7;
}


.other_footer{
    position: fixed;
}