body,html{
    background-color: rgb(104, 149, 210);
    margin: 0;
    padding: 0;
    height: 100%;
}

.header{
    background-color: rgb(253, 231, 103);
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.logo{
    color: darkblue;
}

.topnav{
    display: flex;
    align-items: center;
}

.topnav a{
    background-color: rgb(243, 185, 95);
    border: 3px dotted rgb(208, 72, 72);
    border-radius: 20px;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    color: darkblue;
    text-align: center;
    margin: 2px;
}

.topnav a:hover{
    background-color: rgb(208, 72, 72);
    color: white;
    border-color: rgb(243, 185, 95);
}

.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: whitesmoke;
    text-align: center;
}

.headerimg{
    margin: auto;
}

.content{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.content div{
    width: 40%;
    padding: 10px;
    margin: 20px;
}

.box1, .box3{
    border: 4px dotted yellow;
    background-color: rgb(243, 185, 95);
    color: rgb(176, 50, 0);
}

.footer{
    position: sticky;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: rgb(253, 231, 103);
    color: darkblue;
    padding: 5px;
    margin: 5px 0px 0px 0px;
}